In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)

import soccerdata as sd

In [3]:
%env SOCCERDATA_LOGLEVEL=ERROR
#%env SOCCERDATA_NOCACHE=True
#%env SOCCERDATA_NOSTORE=True
%env SOCCERDATA_DIR=/cw/dtaijupiter/NoCsBack/dtai/pieterr/Projects/soccerdata

env: SOCCERDATA_LOGLEVEL=ERROR
env: SOCCERDATA_DIR=/cw/dtaijupiter/NoCsBack/dtai/pieterr/Projects/soccerdata

# WhoScored

In [5]:
ws = sd.WhoScored(leagues="ESP-La Liga", seasons=2023)
print(ws.__doc__)

Provides pd.DataFrames from data available at http://whoscored.com.

    Data will be downloaded as necessary and cached locally in
    ``~/soccerdata/data/WhoScored``.

    Parameters
    ----------
    leagues : string or iterable, optional
        IDs of Leagues to include.
    seasons : string, int or list, optional
        Seasons to include. Supports multiple formats.
        Examples: '16-17'; 2016; '2016-17'; [14, 15, 16]
    proxy : 'tor' or dict or list(dict) or callable, optional
        Use a proxy to hide your IP address. Valid options are:
            - "tor": Uses the Tor network. Tor should be running in
              the background on port 9050.
            - dict: A dictionary with the proxy to use. The dict should be
              a mapping of supported protocols to proxy addresses. For example::

                  {
                      'http': 'http://10.10.1.10:3128',
                      'https': 'http://10.10.1.10:1080',
                  }

            - list(dict): A list of proxies to choose from. A different proxy will
              be selected from this list after failed requests, allowing rotating
              proxies.
            - callable: A function that returns a valid proxy. This function will
              be called after failed requests, allowing rotating proxies.
    no_cache : bool
        If True, will not use cached data.
    no_store : bool
        If True, will not store downloaded data.
    data_dir : Path
        Path to directory where data will be cached.
    path_to_browser : Path, optional
        Path to the Chrome executable.
    headless : bool, default: True
        If True, will run Chrome in headless mode. Setting this to False might
        help to avoid getting blocked.

## Game schedule

In [6]:
laliga_schedule = ws.read_schedule()
laliga_schedule.tail()
laliga_schedule.to_csv('data/schedule_spain.csv', index=False)

## Injured and suspended players

In [7]:
missing_players = ws.read_missing_players()
missing_players.head()

                                                                                   game_id  \
league      season game                              team    player
ESP-La Liga 2324   2023-08-11 Almeria-Rayo Vallecano Almeria LÃ©o BaptistÃ£o       1734621
                                                             SamÃº Costa           1734621
                   2023-08-11 Sevilla-Valencia       Sevilla JosÃ© Ãngel Carmona  1734625
                                                             Ludwig Augustinsson   1734625
                                                             Tanguy Nianzou        1734625

                                                                                   player_id  \
league      season game                              team    player
ESP-La Liga 2324   2023-08-11 Almeria-Rayo Vallecano Almeria LÃ©o BaptistÃ£o          116227
                                                             SamÃº Costa              391562
                   2023-08-11 Sevilla-Valencia       Sevilla JosÃ© Ãngel Carmona     422956
                                                             Ludwig Augustinsson      282994
                                                             Tanguy Nianzou           382492

                                                                                             reason  \
league      season game                              team    player
ESP-La Liga 2324   2023-08-11 Almeria-Rayo Vallecano Almeria LÃ©o BaptistÃ£o                injured
                                                             SamÃº Costa                  suspended
                   2023-08-11 Sevilla-Valencia       Sevilla JosÃ© Ãngel Carmona  injured doubtful
                                                             Ludwig Augustinsson   injured doubtful
                                                             Tanguy Nianzou        injured doubtful

                                                                                     status
league      season game                              team    player
ESP-La Liga 2324   2023-08-11 Almeria-Rayo Vallecano Almeria LÃ©o BaptistÃ£o            Out
                                                             SamÃº Costa                Out
                   2023-08-11 Sevilla-Valencia       Sevilla JosÃ© Ãngel Carmona  Doubtful
                                                             Ludwig Augustinsson   Doubtful
                                                             Tanguy Nianzou        Doubtful

In [9]:
missing_players.reset_index(inplace=True)
missing_players.to_csv('data/missing_players_spain.csv', index=False)

## Match event stream data

In [10]:
events = ws.read_events(match_id=1734669)
events.head()

                                                                     game_id  \
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667  1734669
                                                         2614080421  1734669
                                                         2614138939  1734669
                                                         2614138959  1734669
                                                         2614139223  1734669

                                                                        period  \
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667   PreMatch
                                                         2614080421   PreMatch
                                                         2614138939  FirstHalf
                                                         2614138959  FirstHalf
                                                         2614139223  FirstHalf

                                                                     minute  \
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667       0
                                                         2614080421       0
                                                         2614138939       0
                                                         2614138959       0
                                                         2614139223       0

                                                                     second  \
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667     0.0
                                                         2614080421     0.0
                                                         2614138939     0.0
                                                         2614138959     0.0
                                                         2614139223     0.0

                                                                     expanded_minute  \
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667                0
                                                         2614080421                0
                                                         2614138939                0
                                                         2614138959                0
                                                         2614139223                0

                                                                             type  \
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667  FormationSet
                                                         2614080421  FormationSet
                                                         2614138939         Start
                                                         2614138959         Start
                                                         2614139223          Pass

                                                                    outcome_type  \
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667   Successful
                                                         2614080421   Successful
                                                         2614138939   Successful
                                                         2614138959   Successful
                                                         2614139223   Successful

                                                                     team_id  \
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667       52
                                                         2614080421       64
                                                         2614138939       64
                                                         2614138959       52
                                                         2614139223       52

                                                                               team  \
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667     Real Madrid
                                                         2614080421  Rayo Vallecano
                                                         2614138939  Rayo Vallecano
                                                         2614138959     Real Madrid
                                                         2614139223     Real Madrid

                                                                     player_id  \
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667        NaN
                                                         2614080421        NaN
                                                         2614138939        NaN
                                                         2614138959        NaN
                                                         2614139223    20874.0

                                                                          player  \
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667          NaN
                                                         2614080421          NaN
                                                         2614138939          NaN
                                                         2614138959          NaN
                                                         2614139223  Luka Modric

                                                                        x  \
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667   0.0
                                                         2614080421   0.0
                                                         2614138939   0.0
                                                         2614138959   0.0
                                                         2614139223  50.0

                                                                        y  \
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667   0.0
                                                         2614080421   0.0
                                                         2614138939   0.0
                                                         2614138959   0.0
                                                         2614139223  49.9

                                                                     end_x  \
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667    NaN
                                                         2614080421    NaN
                                                         2614138939    NaN
                                                         2614138959    NaN
                                                         2614139223   53.6

                                                                     end_y  \
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667    NaN
                                                         2614080421    NaN
                                                         2614138939    NaN
                                                         2614138959    NaN
                                                         2614139223   47.4

                                                                     goal_mouth_y  \
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667           NaN
                                                         2614080421           NaN
                                                         2614138939           NaN
                                                         2614138959           NaN
                                                         2614139223           NaN

                                                                     goal_mouth_z  \
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667           NaN
                                                         2614080421           NaN
                                                         2614138939           NaN
                                                         2614138959           NaN
                                                         2614139223           NaN

                                                                     blocked_x  \
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667        NaN
                                                         2614080421        NaN
                                                         2614138939        NaN
                                                         2614138959        NaN
                                                         2614139223        NaN

                                                                     blocked_y  \
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667        NaN
                                                         2614080421        NaN
                                                         2614138939        NaN
                                                         2614138959        NaN
                                                         2614139223        NaN

                                                                                                            qualifiers  \
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667  [{'type': {'displayName': 'PlayerPosition', 'v...
                                                         2614080421  [{'type': {'displayName': 'TeamPlayerFormation...
                                                         2614138939                                                 []
                                                         2614138959                                                 []
                                                         2614139223  [{'type': {'displayName': 'Angle', 'value': 21...

                                                                     is_touch  \
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667     False
                                                         2614080421     False
                                                         2614138939     False
                                                         2614138959     False
                                                         2614139223      True

                                                                    is_shot  \
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667     NaN
                                                         2614080421     NaN
                                                         2614138939     NaN
                                                         2614138959     NaN
                                                         2614139223     NaN

                                                                     is_goal  \
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667    False
                                                         2614080421    False
                                                         2614138939    False
                                                         2614138959    False
                                                         2614139223    False

                                                                    card_type  \
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667       NaN
                                                         2614080421       NaN
                                                         2614138939       NaN
                                                         2614138959       NaN
                                                         2614139223       NaN

                                                                     related_event_id  \
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667               NaN
                                                         2614080421               NaN
                                                         2614138939               NaN
                                                         2614138959               NaN
                                                         2614139223               NaN

                                                                     related_player_id
league      season game                                  id
ESP-La Liga 2324   2023-11-05 Real Madrid-Rayo Vallecano 2614078667                NaN
                                                         2614080421                NaN
                                                         2614138939                NaN
                                                         2614138959                NaN
                                                         2614139223                NaN

Match event stream data can be returned in various formats, which can be selected with the "output_fmt" parameter.

- `events` (default): Returns a dataframe with all events.
- `raw`: Returns the original unformatted WhoScored JSON.
- `spadl`: Returns a dataframe with the [SPADL representation](https://socceraction.readthedocs.io/en/latest/documentation/SPADL.html#spadl)
  of the original events.
- `atomic-spadl`: Returns a dataframe with the [Atomic-SPADL representation](https://socceraction.readthedocs.io/en/latest/documentation/SPADL.html#atomic-spadl)
  of the original events.
- `loader`: Returns a ``socceration.data.opta.OptaLoader`` instance

In [11]:
events = ws.read_events(match_id=1734669, output_fmt="raw")

import json
print(json.dumps(events[1734669][0], indent=2))

{
  "eventId": 2,
  "expandedMinute": 0,
  "id": 2614138939,
  "isTouch": false,
  "minute": 0,
  "outcomeType": {
    "displayName": "Successful",
    "value": 1
  },
  "period": {
    "displayName": "FirstHalf",
    "value": 1
  },
  "qualifiers": [],
  "satisfiedEventsTypes": [],
  "second": 0,
  "teamId": 64,
  "type": {
    "displayName": "Start",
    "value": 32
  },
  "x": 0,
  "y": 0
}

In [12]:
actions = ws.read_events(match_id=1734669, output_fmt='spadl')
actions.head()

,game_id,original_event_id,period_id,time_seconds,team_id,player_id,start_x,end_x,start_y,end_y,type_id,result_id,bodypart_id,action_id,player,team
0,1734669,2614139223,1,0.0,52,20874.0,52.500,56.280,33.932,32.232,0,1,0,0,Luka Modric,Real Madrid
1,1734669,NaN,1,1.0,52,344644.0,56.280,57.330,32.232,39.372,21,1,0,1,Federico Valverde,Real Madrid
2,1734669,2614139241,1,2.0,52,344644.0,57.330,54.180,39.372,48.212,0,1,0,2,Federico Valverde,Real Madrid
3,1734669,2614139271,1,3.0,52,379868.0,54.495,48.300,49.368,38.964,0,1,0,3,Jude Bellingham,Real Madrid
4,1734669,2614208275,1,5.0,52,20874.0,47.040,38.115,39.168,43.112,0,1,0,4,Luka Modric,Real Madrid

In [13]:
atomic_actions = ws.read_events(match_id=1734669, output_fmt='atomic-spadl')
atomic_actions.head()

,game_id,original_event_id,action_id,period_id,time_seconds,team_id,player_id,x,y,dx,dy,type_id,bodypart_id,player,team
0,1734669,2614139223,0,1,0.0,52,20874.0,52.50,33.932,3.78,-1.70,0,0,Luka Modric,Real Madrid
1,1734669,2614139223,1,1,0.5,52,344644.0,56.28,32.232,0.00,0.00,23,0,Federico Valverde,Real Madrid
2,1734669,NaN,2,1,1.0,52,344644.0,56.28,32.232,1.05,7.14,21,0,Federico Valverde,Real Madrid
3,1734669,2614139241,3,1,2.0,52,344644.0,57.33,39.372,-3.15,8.84,0,0,Federico Valverde,Real Madrid
4,1734669,2614139241,4,1,2.5,52,379868.0,54.18,48.212,0.00,0.00,23,0,Jude Bellingham,Real Madrid

In [ ]:
# Scrape all games and return a socceration.data.opta.OptaLoader
loader = ws.read_events(output_fmt='loader')

# Now use this loader to load the data
print("Games:")
df_games = loader.games(competition_id="SPA-La Liga", season_id="2023")
display(df_games.head())

print("Teams:")
df_teams = loader.teams(game_id=1734669)
display(df_teams.head())

print("Players:")
df_players = loader.players(game_id=1734669)
display(df_players.head())

print("Events:")
df_events = loader.events(game_id=1734669)
display(df_events.head())

# You can use the socceraction package to convert the events
# to SPADL and to compute xT or VAEP action values

Games:

Empty DataFrame
Columns: []
Index: []

Teams:

   team_id       team_name
0       52     Real Madrid
1       64  Rayo Vallecano

Players:

,game_id,team_id,player_id,player_name,is_starter,minutes_played,jersey_number,starting_position
0,1734669,52,113880,Kepa,True,102,25,GK
1,1734669,52,106883,Dani Carvajal,True,102,2,DR
2,1734669,52,39722,David Alaba,True,102,4,DC
3,1734669,52,104010,Antonio Rüdiger,True,102,22,DC
4,1734669,52,422957,Fran García,True,75,20,DL

Events:

,game_id,event_id,period_id,team_id,player_id,type_id,timestamp,minute,second,outcome,start_x,start_y,end_x,end_y,qualifiers,related_player_id,touch,goal,shot,type_name
0,1734669,2614138939,1,64,NaN,32,2023-11-05 20:00:00,0,0,True,0.0,0.0,0.0,0.0,{},NaN,False,False,False,start
1,1734669,2614138959,1,52,NaN,32,2023-11-05 20:00:00,0,0,True,0.0,0.0,0.0,0.0,{},NaN,False,False,False,start
2,1734669,2614139223,1,52,20874.0,1,2023-11-05 20:00:00,0,0,True,50.0,49.9,53.6,47.4,"{213: '5.86', 178: True, 56: 'Center', 141: '4...",NaN,True,False,False,pass
3,1734669,2614139241,1,52,344644.0,1,2023-11-05 20:00:02,0,2,True,54.6,57.9,51.6,70.9,"{56: 'Center', 212: '9.4', 178: True, 141: '70...",NaN,True,False,False,pass
4,1734669,2614139271,1,52,379868.0,1,2023-11-05 20:00:03,0,3,True,51.9,72.6,46.0,57.3,"{140: '46.0', 213: '4.18', 212: '12.1', 178: T...",NaN,True,False,False,pass